.main-display {
    background-color: rgb(200, 223, 166);
}

.text {
    padding: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.categories-img {
  width: 28vw;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  
}

.categories {
    margin-left: 4vw;
    margin-bottom: 5vh;
}

.link-to-category {
    display:inline-block;
    margin: 1vw;
}

.scroll-img{
    width: 25vw;
    margin: 2vw;
}

div.scrollmenu {
    background-color: rgb(255, 255, 255);
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu a {
    display: inline-block;
    color: rgb(228, 222, 222);
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
  
div.scrollmenu a:hover {
    background-color: #777;
}

#history-items {
    margin-left: 6vw;
    margin-bottom: 0%;
}

